{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="bg_vk" >
  <nav class="navbar navbar-expand-md navbar-light sticky-top border-bottom shadow-sm">
    <div class="container-fluid">
      <a href="https://brics-russia2020.ru" target="_blank" class="navbar-brad"><img src="static/img/BRICS.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarResponsive">
        <span class="navbar-toggler-icon">
          <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="{% url 'rus' %}" class="nav-link text-center">Главная</a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'inform' %}" class="nav-link text-center">О проекте</a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'team' %}" class="nav-link text-center">Команда</a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'contact' %}" class="nav-link text-center">Обратная связь</a>
          </li>

        </ul>
      </div>
    </nav>
  <div clas="container mt-5">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <h1 class="">Связи "Вконтакте"</h1>
      </div>
      <div class="main col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 offset-1 mt-4">
        <form action="" method="POST">
          <div id = "test3">
          {% csrf_token %}
          {{ form.name }}
          {{ form.age }}
          </div>

          <input type="submit" name="send" value="Узнать" class="mt-2 btn btn-primary btn-lg" onclick="myFunction();myFunction2()" id = "test">

        </form>
      </div>
      <div class="col-10 col-sm-10 col-md-10 col-lg-4 col-xl-5 offset-1 mt-4">
          <div class="d-none d-md-block">
            <div class="text-justify text-dark border  pb-3  pt-3 pl-3 pr-3">
              <b class="">Идея модуля:</b> <p3 class="">получение цепочки друзей соцсети "Вконтакте"</p3><br>
              <b></b><br>
              <b class="">Описание модуля:</b><p3 class=""> Представьте, что Вам необходимо как-то выйти на человека,
              может быть списаться с ним или просто понять круг его интересов, но кроме его аккаунта
              социальной сети Вконтакте у Вас больше ничего нет. Данный модуль предоставляет возможность
              построения искомой цепочки.</p3><br>
            </div>

          </div>
      </div>
		</div>
  </div>
  <div class="row mt-5">
    <div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-5 offset-1">

      <div class="{{info.color}} mt-2 mb-1 text-center">
        <h1>{{info.connect}} </h1>
      </div>
    </div>
  </div>

    <div class="row offset-1 mt-4 mb-4">

    {% for part in info.bond %}
    <div class="col-10 col-sm-10 col-md-5 col-lg-auto col-xl-2 mb-2">
      <div class="center-cropped"
        <img  style="background-image: url({{part.link}})">
      </div>
      <div class="account">
        <a href={{part.linkvk}} target="_blank">{{part.fio}}</a>
      </div>
    </div>
    {% endfor %}
    </div>
</div>







{% endblock %}
